<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PirataPets :: VETERINARIA</title>
	
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/nivo-lightbox.css" rel="stylesheet" />
	<link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="/css/animations.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
	<link href="/color/default.css" rel="stylesheet">
    <!-- =======================================================
        Theme Name: Bocor
        Theme URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	

	
	
    <!-- Navigation -->
  
		
		
		<div align="center">
		<table class="table table-bordered">

    						
    		
		<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
  

      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>


  <% end %>
  
<tr>
   <th><div align="right"><%= f.label :IdCliente %></div> </th>
    <th>  <%= f.number_field :IdCliente %></th>
</tr>
  
  
  
<tr>
    <th><div align="right">  <%= f.label :Nombre %></div> </th>
    <th>  <%= f.text_field :Nombre %></th>
</tr>
  
  
<tr>
   <th>  <div align="right"> <%= f.label :Apellido_Paterno %></div> </th>
    <th>  <%= f.text_field :Apellido_Paterno %></th>
</tr>
  
<tr>
   <th>   <div align="right"><%= f.label :Apellido_Materno %></div> </th>
    <th>  <%= f.text_field :Apellido_Materno %></th>
</tr>
  
<tr>
    <th>  <div align="right"><%= f.label :Correo_Electronico %></div> </th>
    <th>  <%= f.text_field :Correo_Electronico %></th>
</tr>
  
<tr>
   <th>  <div align="right"> <%= f.label :Direccion %></div> </th>
    <th>  <%= f.text_field :Direccion %></th>
</tr>

<tr>
    <th><div align="right">  <%= f.label :Telefono_Casa %></div> </th>
    <th>  <%= f.text_field :Telefono_Casa %></th>
</tr>
  
  <tr>
     <th> <div align="right"><%= f.label :Telefono_Celular %></div> </th>
    <th>  <%= f.text_field :Telefono_Celular %></th>
</tr>
  
<tr>
    <th><div align="right">  <%= f.label :ADMINISTRADOR_IdAdministrador %></div> </th>
    <th>  <%= f.number_field :ADMINISTRADOR_IdAdministrador %></th>
</tr>
  
<tr>
    <th>  <div align="right"><%= f.label :HISTORIA_IdHistoria %></div> </th>
    <th>  <%= f.number_field :HISTORIA_IdHistoria %></th>
</tr>

<tr>
    <th>  <div align="right"><%= f.submit %></div> </th>
</tr>
<% end %>
    						
    						
    						
</table></div>

</body>

</html>


