		<div align="center">
		<table align="center" class="table table-bordered">
		  
		  <p id="notice"><%= notice %></p>

<tr>
   <th><div align="right">
  <strong>ID CLIENTE:</strong></div></th>
  <th><%= @cliente.IdCliente %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>NOMBRE:</strong></div></th>
  <th><%= @cliente.Nombre %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>APELLIDO PATERNO:</strong></div></th>
 <th> <%= @cliente.Apellido_Paterno %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>APELLIDO MATERNO:</strong></div></th>
  <th><%= @cliente.Apellido_Materno %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>CORREO ELECTRONICO:</strong></div></th>
 <th> <%= @cliente.Correo_Electronico %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>DIRECCIÓN:</strong></div></th>
 <th> <%= @cliente.Direccion %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>TELEFONO CASA:</strong></div></th>
  <th><%= @cliente.Telefono_Casa %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>TELEFONO CELULAR:</strong></div></th>
 <th> <%= @cliente.Telefono_Celular %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>Administrador ID:</strong></div></th>
 <th> <%= @cliente.ADMINISTRADOR_IdAdministrador %></th>
</th>
</tr>

<tr>
   <th><div align="right">
  <strong>Historia ID:</strong></div></th>
  <th><%= @cliente.HISTORIA_IdHistoria %></th>
</th>
</tr>

</table></br> </br>  </br>   </div>
<div align="center">
<%= link_to 'EDITAR', edit_cliente_path(@cliente) %> |
<%= link_to 'ATRAS', clientes_path %>
</div></br>  </br>  