</br></br><div align="center" class="table-responsive"><table align="center"  class="table-hover">


<%= form_for(catalogo) do |f| %>
  <% if catalogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalogo.errors.count, "error") %> prohibited this catalogo from being saved:</h2>

      <ul>
      <% catalogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<tr>
   <td> <%= f.label :IdCatalogo %></td>
     <td>  <%= f.number_field :IdCatalogo %></td>
</tr>

<tr>
     <td>  <%= f.label :Productos %></td>
      <td> <%= f.text_field :Productos %></td>
</tr>

<tr>
     <td>  <%= f.label :Servicios %></td>
      <td> <%= f.text_field :Servicios %></td>
</tr>

<tr> 
     <td>  </br><%= f.submit %></td>
</tr>
<% end %>
</table>
</div>