<p id="notice"><%= notice %></p>

<div align="center"><h1>CATALOGOS</h1></div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID CATALOGO</th>
      <th>PRODUCTOS</th>
      <th>SERVICIOS</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogos.each do |catalogo| %>
      <tr>
        <td><%= catalogo.IdCatalogo %></td>
        <td><%= catalogo.Productos %></td>
        <td><%= catalogo.Servicios %></td>
        <td><%= link_to 'VER', catalogo %></td>
        <td><%= link_to 'EDITAR', edit_catalogo_path(catalogo) %></td>
        <td><%= link_to 'BORRAR', catalogo, method: :delete, data: { confirm: 'ESTA SEGURO?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br></br></br>

<div align="center"><%= link_to 'NUEVO CATAOLOGO', new_catalogo_path %></div>
</br></br></br>