</br></br></br><div align="center" class="table-responsive"><table class="table-hover">

<p id="notice"><%= notice %></p>

<tr>
  <td><strong>ID CATALOGO:</strong></td>
  <td><%= @catalogo.IdCatalogo %></td>
</tr>

<tr>
 <td> <strong>PRODUCTOS:</strong></td>
 <td> <%= @catalogo.Productos %></td>
</tr>

<tr>
 <td> <strong>SERVICIOS:</strong></td>
 <td> <%= @catalogo.Servicios %></td>
</tr>

</table>
</div>
</br></br></br></br></br>
<div align="center"><%= link_to ' EDITAR ', edit_catalogo_path(@catalogo) %> |
<%= link_to ' ATRAS ', catalogos_path %></div></br></br></br></br>
