<p id="notice"><%= notice %></p>

<h1>Busquedas</h1>

<table>
  <thead>
    <tr>
      <th>Idbusqueda</th>
      <th>Dni</th>
      <th>Codigo paciente</th>
      <th>Pacientes idpacientes</th>
      <th>Pacientes clientes idcliente</th>
      <th>Pacientes clientes administrador idadministrador</th>
      <th>Clientes idcliente</th>
      <th>Clientes administrador idadministrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @busquedas.each do |busqueda| %>
      <tr>
        <td><%= busqueda.IdBusqueda %></td>
        <td><%= busqueda.Dni %></td>
        <td><%= busqueda.Codigo_Paciente %></td>
        <td><%= busqueda.PACIENTES_IdPacientes %></td>
        <td><%= busqueda.PACIENTES_CLIENTES_IdCliente %></td>
        <td><%= busqueda.PACIENTES_CLIENTES_ADMINISTRADOR_IdAdministrador %></td>
        <td><%= busqueda.CLIENTES_IdCliente %></td>
        <td><%= busqueda.CLIENTES_ADMINISTRADOR_IdAdministrador %></td>
        <td><%= link_to 'Show', busqueda %></td>
        <td><%= link_to 'Edit', edit_busqueda_path(busqueda) %></td>
        <td><%= link_to 'Destroy', busqueda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Busqueda', new_busqueda_path %>
