<p id="notice"><%= notice %></p>

<h1>REALIZAR UNA BUSQUEDA</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>DNI</th>
      <th>CODIGO PACIENTE</th>
      <th>ID PACIENTE</th>
      <th>ID CLIENTE</th>
      <th>ID ADMINISTRADOR</th>
      <th>Clientes idcliente</th>
      <th>Clientes administrador idadministrador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @busquedas.each do |busqueda| %>
      <tr>
        <td><%= busqueda.IdBusqueda %></td>
        <td><%= busqueda.Dni %></td>
        <td><%= busqueda.Codigo_Paciente %></td>
        <td><%= busqueda.PACIENTES_IdPacientes %></td>
        <td><%= busqueda.PACIENTES_CLIENTES_IdCliente %></td>
        <td><%= busqueda.PACIENTES_CLIENTES_ADMINISTRADOR_IdAdministrador %></td>
        <td><%= busqueda.CLIENTES_IdCliente %></td>
        <td><%= busqueda.CLIENTES_ADMINISTRADOR_IdAdministrador %></td>
        <td><%= link_to 'VER', busqueda %></td>
        <td><%= link_to 'EDITAR', edit_busqueda_path(busqueda) %></td>
        <td><%= link_to 'BORRAR', busqueda, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'NUEVA BUSQUEDA', new_busqueda_path %>
