<p id="notice"><%= notice %></p>

<p>
  <strong>Idguarderia:</strong>
  <%= @guarderium.IdGuarderia %>
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @guarderium.Nombre_Cliente %>
</p>

<p>
  <strong>Nombre paciente:</strong>
  <%= @guarderium.Nombre_Paciente %>
</p>

<p>
  <strong>Codigo paciente:</strong>
  <%= @guarderium.Codigo_Paciente %>
</p>

<p>
  <strong>Tiempo estadia:</strong>
  <%= @guarderium.Tiempo_Estadia %>
</p>

<p>
  <strong>Busqueda idbusqueda:</strong>
  <%= @guarderium.BUSQUEDA_IdBusqueda %>
</p>

<p>
  <strong>Busqueda pacientes idpacientes:</strong>
  <%= @guarderium.BUSQUEDA_PACIENTES_IdPacientes %>
</p>

<p>
  <strong>Busqueda pacientes clientes idcliente:</strong>
  <%= @guarderium.BUSQUEDA_PACIENTES_CLIENTES_IdCliente %>
</p>

<p>
  <strong>Busqueda pacientes clientes administrador idadministrador:</strong>
  <%= @guarderium.BUSQUEDA_PACIENTES_CLIENTES_ADMINISTRADOR_IdAdministrador %>
</p>

<p>
  <strong>Busqueda clientes idcliente:</strong>
  <%= @guarderium.BUSQUEDA_CLIENTES_IdCliente %>
</p>

<p>
  <strong>Busqueda clientes administrador idadministrador:</strong>
  <%= @guarderium.BUSQUEDA_CLIENTES_ADMINISTRADOR_IdAdministrador %>
</p>

<%= link_to 'Edit', edit_guarderium_path(@guarderium) %> |
<%= link_to 'Back', guarderia_path %>
