<div align="center" class="table-responsive"><table align="center"  class="table-hover">

<%= form_for(campanium) do |f| %>
  <% if campanium.errors.any? %>
  
  
    <div id="error_explanation">
      <h2><%= pluralize(campanium.errors.count, "error") %> prohibited this campanium from being saved:</h2>

      <ul>
      <% campanium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  

  <tr>
  <td> <%= f.label :IdCampania %></td> 
    <td><%= f.number_field :IdCampania %></td> 
</tr>

  <tr>
   <td> <%= f.label :Nombre_Campania %></td> 
    <td><%= f.text_field :Nombre_Campania %></td> 
</tr>

  <tr>
   <td> <%= f.label :Tiempo_Campania %></td> 
   <td> <%= f.datetime_select :Tiempo_Campania %></td> 
</tr>

  <tr>
  <td>  </br></td>
</tr>
</tr>

  <tr>
  <td>  <%= f.submit %></td>
</tr>
<% end %></table></div>
