</br></br><div align="center" class="table-responsive"><table align="center"  class="table-hover">
<p id="notice"><%= notice %></p>

<tr>
 <td> <strong>ID CAMPAÑA:</strong></td>
<td>  <%= @campanium.IdCampania %></td>
</tr>

<tr>
<td>  <strong>NOMBRE DE LA CAMPAÑA:</strong></td>
  <td><%= @campanium.Nombre_Campania %></td>
</tr>

<tr>
 <td> <strong>INICIO CAMPAÑA:</strong></td>
 <td> <%= @campanium.Tiempo_Campania %></td>
</tr>

</table>
</div></br></br></br></br>
<div align="center">

<%= link_to 'EDITAR', edit_campanium_path(@campanium) %> |
<%= link_to 'ATRAS', campania_path %>
</div></br></br></br></br>