<p id="notice"><%= notice %></p>

<p>
  <strong>Idcampania:</strong>
  <%= @campanium.IdCampania %>
</p>

<p>
  <strong>Nombre campania:</strong>
  <%= @campanium.Nombre_Campania %>
</p>

<p>
  <strong>Tiempo campania:</strong>
  <%= @campanium.Tiempo_Campania %>
</p>

<%= link_to 'Edit', edit_campanium_path(@campanium) %> |
<%= link_to 'Back', campania_path %>
