		<div align="center">
		<table class="table table-bordered">
		  
		  <%= form_for(comprobante) do |f| %>
  <% if comprobante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comprobante.errors.count, "error") %> prohibited this comprobante from being saved:</h2>

      <ul>
      <% comprobante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<tr>
    <th><div align="right">  <%= f.label :IdComprobante %></div></th>
     <th><div align="left">  <%= f.text_field :IdComprobante %></div></th>
</tr>

<tr>
  <th><div align="right">    <%= f.label :Nombre_Duenio %></div></th>
   <th><div align="left">  <%= f.text_field :Nombre_Duenio %></div></th>
</tr>

<tr>
    <th><div align="right">  <%= f.label :Paciente %></div></th>
    <th><div align="left"> <%= f.text_field :Paciente %></div></th>
</tr>

<tr>
   <th><div align="right">   <%= f.label :Ruc %></div></th>
    <th><div align="left"> <%= f.text_field :Ruc %></div></th>
</tr>

<tr>
    <th><div align="right">  <%= f.label :Direccion %></div></th>
    <th><div align="left"> <%= f.text_field :Direccion %></div></th>
</tr>

<tr>
     <th><div align="right"> <%= f.label :Fecha_Registro %></div></th>
     <th><div align="left"><%= f.date_select :Fecha_Registro %></div></th>
</tr>

<tr>
    <th><div align="right">  <%= f.label :Detalle_Producto %></div></th>
    <th> <div align="left"><%= f.text_field :Detalle_Producto %></div></th>
</tr>

<tr>
    <th><div align="right">  <%= f.label :Precio_Unitario %></div></th>
     <th><div align="left"> <%= f.text_field :Precio_Unitario %></div></th>
</tr>

<tr>
   <th><div align="right">   <%= f.label :Precio_Total %></div></th>
   <th>  <div align="left"><%= f.text_field :Precio_Total %></div></th>
</tr>

<tr>
    <th><div align="right">  <%= f.label :Cantidad %></div></th>
     <th><div align="left"><%= f.text_field :Cantidad %></div></th>
</tr>

<tr>
  <th><div align="right"> <%= f.submit %></div></th>
  <th><div align="left">  </div></th>
</tr>

<% end %>
</table></div>

