<div align="center" class="table-responsive"><table align="center"  class="table-hover">


<%= form_for(citum) do |f| %>
  <% if citum.errors.any? %>
  
  
    <tr>
    <div id="error_explanation">
      <h2><%= pluralize(citum.errors.count, "error") %> prohibited this citum from being saved:</h2>

      <ul>
      <% citum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
 <tr> 

<td> <%= f.label :IdCita %></td> 
<td> <%= f.number_field :IdCita %></td> 

</tr>
<td>
    <%= f.label :Paciente %></td> 
   <td> <%= f.text_field :Paciente %></td> 

 <tr> 

    <td><%= f.label :Duenio %></td> 
   <td> <%= f.text_field :Duenio %></td> 

</tr> <tr> 

 <td>   <%= f.label :Telefono %></td> 
  <td>  <%= f.text_field :Telefono %></td> 
</tr>
 <tr> 

  <td>  <%= f.label :Direccion %></td> 
   <td> <%= f.text_field :Direccion %></td> 

 <tr> 

   <td> <%= f.label :Fecha_Registro %></td> 
   <td> <%= f.text_field :Fecha_Registro %></td> 
</tr>
 <tr> 

    <td><%= f.label :Vacunas %></td> 
   <td> <%= f.text_field :Vacunas %></td> 
</tr>
 <tr> 

   <td> <%= f.label :CLIENTES_IdCliente %></td> 
   <td> <%= f.number_field :CLIENTES_IdCliente %></td> 
</tr>
 <tr> 

   <td> <%= f.label :CLIENTES_ADMINISTRADOR_IdAdministrador %></td> 
   <td> <%= f.number_field :CLIENTES_ADMINISTRADOR_IdAdministrador %></td> 
</tr>
 <tr> 
 <td> 
    <%= f.submit %></td> 
</tr>
<% end %>
</table>
</div>
