<p id="notice"><%= notice %></p>

<div align="center"><h1>CITAS</h1></div>

<table  class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>PACIENTE</th>
      <th>DUEÑO</th>
      <th>TELEFONO</th>
      <th>DIRECCION</th>
      <th>FECHA DE REGISTRO</th>
      <th>VACUNAS</th>
      <th>Clientes ID</th>
      <th>Clientes ADMIN ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.IdCita %></td>
        <td><%= citum.Paciente %></td>
        <td><%= citum.Duenio %></td>
        <td><%= citum.Telefono %></td>
        <td><%= citum.Direccion %></td>
        <td><%= citum.Fecha_Registro %></td>
        <td><%= citum.Vacunas %></td>
        <td><%= citum.CLIENTES_IdCliente %></td>
        <td><%= citum.CLIENTES_ADMINISTRADOR_IdAdministrador %></td>
        <td><%= link_to 'VER', citum %></td>
        <td><%= link_to 'EDITAR', edit_citum_path(citum) %></td>
        <td><%= link_to 'BORRAR', citum, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br></br></br>


<div align="center"><%= link_to 'NUEVA CITA', new_citum_path %></div></br>
</br>
</br>

