<div align="center" class="table-responsive">
<table align="center"  class="table-hover">
<p id="notice"><%= notice %></p>

<tr>
<td><strong>ID CITA:</strong></td>
<td>  <%= @citum.IdCita %></td>

</tr>
<tr>
 <td> <strong>PACIENTE:</strong></td>
 <td> <%= @citum.Paciente %></td>
</tr>

<tr>
<td>  <strong>Duenio:</strong></td>
<td>  <%= @citum.Duenio %></td>
</tr>

<tr>
<td>  <strong>TELÉFONO:</strong></td>
<td>  <%= @citum.Telefono %></td>
</tr>

<tr>
  <td><strong>DIRECCION:</strong></td>
  <td><%= @citum.Direccion %></td>
</tr>

<tr>
 <td> <strong>FECHA DE REGISTRO:</strong></td>
 <td> <%= @citum.Fecha_Registro %></td>
</tr>

<tr>
 <td> <strong>VACUNAS:</strong></td>
 <td> <%= @citum.Vacunas %></td>
</tr>

<tr>
 <td> <strong>Clientes ID:</strong></td>
<td>  <%= @citum.CLIENTES_IdCliente %></td>
</tr>

<tr>
  <td><strong>Clientes administrador idadministrador:</strong></td>
 <td> <%= @citum.CLIENTES_ADMINISTRADOR_IdAdministrador %></td>
</tr>



</table></div></br>
<%= link_to 'EDITAR', edit_citum_path(@citum) %> |
<%= link_to 'ATRAS', cita_path %>

</br></br>

