<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PirataPets :: VETERINARIA</title>
	
    <!-- css -->
     <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/nivo-lightbox.css" rel="stylesheet" />
	<link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="/css/animations.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
	<link href="/color/default.css" rel="stylesheet">


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': true %>


    <%= stylesheet_link_tag "font-awesome" %>

    <div class="Main_Header">
      <%unless session[:user_id]%>
          <ul class="nav">
            <li><%= link_to :Login , :login, class: "nav_links"%></li>
          </ul>
      <%else%>
          <ul class="nav">
            <li><%= link_to :Home , :home, class: "nav_links" %> |</li>
            <li><%= link_to :Profile , :profile, class: "nav_links" %> |</li>
            <li><%= link_to :Setting , :setting, class: "nav_links" %> |</li>
            <li><%= link_to :Logout , :logout, class: "nav_links" %></li>
          </ul>
      <%end%>
    </div>
    <% if flash[:color]== "valid" %>
        <div class="valid_notice">
          <p><%= flash[:notice]%></p>
        </div>
    <% elsif flash[:color]== "invalid"%>
        <div class="invalid_notice">
          <p><%=flash[:notice]%></p>
        </div>
    <%else%>
        <div class="notice">
          <p><%=flash[:notice]%></p>
        </div>
    <%end%>
  </head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  
  <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-2">
                                                   <div class="site-logo">
                                                            <a href="index.html" class="brand"><img src="/img/logo2.png"></a></div></div>
                                          

                                          <div class="col-md-10">
                         
                                                      <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>
                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div class="collapse navbar-collapse" id="menu">
                                                            <ul class="nav navbar-nav navbar-right">
                            
                                                            <li><a href="#intranet">INTRANET</a></li>
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
                             
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
    </div> 
    <!-- /Navigation -->  
  </br></br>
 <%= yield %> 


</br></br>

<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="footer-menu">
						<li><a href="#">Home</a></li>
					
					</ul>
				</div>
				<div class="col-md-6 text-right copyright">
					&copy;Copyright - Grupo PIRATAS
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bocor
                        -->
                        <a>Universidad Peruana de Ciencias Aplicadas</a>
                    </div>
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="/js/jquery.min.js"></script>	 
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.easing.min.js"></script>	
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/nivo-lightbox.min.js"></script>
	
    <script src="/js/custom.js"></script>
	<script src="/js/css3-animate-it.js"></script>
    <script src="/contactform/contactform.js"></script>
    
</body>

</html>
